
//@theme "/home/emile/.config/rofi/themes/soulmate_solid_left.rasi"

//@theme "/home/emile/.config/rofi/themes/soulmate_solid_top.rasi"

//@theme "/home/emile/.config/rofi/themes/soulmate_crystal_fullscreen.rasi"

//@theme "/home/emile/.config/rofi/themes/soulmate_crystal_center.rasi"

@theme "/home/emile/.config/rofi/themes/soulmate_solid_fullscreen_left.rasi"
